In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import requests
import io
import os

In [2]:
# 1. Create a DataFrame for mlw_data 
mlw_data_df = pd.read_csv("Resources/MLW_Data.csv", encoding ="unicode_escape")
mlw_data_df.head(20)

,CommunityName,BeachName,BeachCountrycode,BeachRegionalSea,BeachLength_m,BeachLocation,BeachType,EventDate,EventType,NatRef,...,G202,G203,G204,G205,G206,G207,G208,G210,G211,G213
0,gBqsPxAZ,krapetz,BG,Black Sea,5850,Rural,Sandy,20160310,Cleanup,NaN,...,2.0,4.0,NaN,3.0,NaN,NaN,3.0,NaN,1.0,NaN
1,gBqsPxAZ,krapetz,BG,Black Sea,5850,Rural,Sandy,20150902,Cleanup,NaN,...,1.0,NaN,2.0,NaN,NaN,NaN,7.0,3.0,NaN,NaN
2,gBqsPxAZ,krapetz,BG,Black Sea,5850,Rural,Sandy,20151203,Cleanup,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,2.0,NaN,2.0,1.0
3,gBqsPxAZ,krapetz,BG,Black Sea,5850,Rural,Sandy,20151008,Cleanup,NaN,...,5.0,NaN,2.0,NaN,NaN,NaN,5.0,26.0,NaN,NaN
4,Legambiente Onlus,San Mauro Cilento (SA),IT,Unknown,100,NaN,NaN,20180428,Monitoring,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN
5,Legambiente Onlus,"Spiaggia sul Lungomare Falcomat?, Reggio Calab...",IT,Mediterranean Sea,100,NaN,NaN,20160514,Cleanup,NaN,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
6,Surfrider Foundation Europe,"7 Place Salvador Allende, 94000 Cr?teil, France",NaN,Unknown,750,NaN,NaN,20190519,Cleanup,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,0.0
7,Swiss Litter Report,z√ºrichsee_wollishofen_langendorfm,CH,NaN,50,Urban,Rocky,20170618,Cleanup,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
8,HELMEPA - Hellenic Marine Environment Protecti...,"Agia Galini, Crete (port)",GR,Mediterranean Sea,84,Near river mouth,Rocky,20141005,Cleanup,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN
9,Legambiente Onlus,"Spiaggia della Bandita, Palermo (PA)",IT,Mediterranean Sea,100,NaN,NaN,20140518,Cleanup,NaN,...,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Surfrider Foundation Europe,"12 Promenade Pierre D?port, 14150 Ouistreham, ...",FR,North-east Atlantic Ocean,72,NaN,NaN,20150403,Cleanup,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN
11,Surfrider Foundation Europe,"Avenue Lieutenant colonel faro, 19000 Tulle, F...",Int,NaN,78,NaN,NaN,20150321,Cleanup,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Black Sea NGO Network || MELTEMI,Bolata,BG,Black Sea,166,Rural,Other (mixed),20150920,Cleanup,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Swiss Litter Report,sorne_birse_WWFJura,CH,NaN,16,Urban,Pebbels,20170627,Cleanup,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN
14,Swiss Litter Report,sorne_birse_WWFJura,CH,NaN,16,Urban,Pebbels,20170509,Cleanup,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
15,Swiss Litter Report,sorne_birse_WWFJura,CH,NaN,16,Urban,Pebbels,20170409,Cleanup,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN
16,gBqsPxAZ,obzor detski lager,BG,Black Sea,2805,Near river mouth,Sandy,20151011,Cleanup,NaN,...,1.0,NaN,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
17,EMBLAS,Maltakva,GE,Black Sea,52,Urban,Sandy,20191026,Cleanup,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
18,EMBLAS,Maltakva,GE,Black Sea,52,Urban,Sandy,20190831,Cleanup,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
19,EMBLAS,Maltakva,GE,Black Sea,52,Urban,Sandy,20200811,Cleanup,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN

In [3]:
# 2. Check the datatypes of your columns. 
mlw_data_df.dtypes

CommunityName        object
BeachName            object
BeachCountrycode     object
BeachRegionalSea     object
BeachLength_m         int64
                     ...
G207                float64
G208                float64
G210                float64
G211                float64
G213                float64
Length: 176, dtype: object

In [4]:
print(f'dataset has {mlw_data_df.shape[0]} rows and {mlw_data_df.shape[1]} columns.')

dataset has 3413 rows and 176 columns.

In [5]:
#Get the columns and rows that are not null
mlw_data_df.count()

CommunityName       3413
BeachName           3413
BeachCountrycode    3164
BeachRegionalSea    2300
BeachLength_m       3413
                    ...
G207                 119
G208                2076
G210                 983
G211                 950
G213                1063
Length: 176, dtype: int64

In [6]:
#Determine if there are any missing values
mlw_data_df.isnull()

,CommunityName,BeachName,BeachCountrycode,BeachRegionalSea,BeachLength_m,BeachLocation,BeachType,EventDate,EventType,NatRef,...,G202,G203,G204,G205,G206,G207,G208,G210,G211,G213
0,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,True,True,False,True,False,True
1,False,False,False,False,False,False,False,False,False,True,...,False,True,False,True,True,True,False,False,True,True
2,False,False,False,False,False,False,False,False,False,True,...,True,True,False,True,True,True,False,True,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,True,False,True,True,True,False,False,True,True
4,False,False,False,False,False,True,True,False,False,True,...,True,True,True,True,True,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3408,False,False,False,False,False,True,True,False,False,True,...,False,True,True,True,True,True,True,False,True,True
3409,False,False,False,False,False,True,True,False,False,True,...,True,True,True,True,True,True,False,True,True,True
3410,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,False,True,True,True
3411,False,False,False,True,False,False,False,False,False,True,...,True,True,True,True,True,True,False,True,True,True
3412,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True

In [7]:
mlw_data_df.drop(["CommunityName","BeachLocation", "EventDate","EventType","NatRef"], axis=1, inplace=True)
mlw_data_df.head()

,BeachName,BeachCountrycode,BeachRegionalSea,BeachLength_m,BeachType,lon_x1,lat_y1,lon_x2,lat_y2,G1,...,G202,G203,G204,G205,G206,G207,G208,G210,G211,G213
0,krapetz,BG,Black Sea,5850,Sandy,28.564998,43.695538,28.574143,43.643309,NaN,...,2.0,4.0,NaN,3.0,NaN,NaN,3.0,NaN,1.0,NaN
1,krapetz,BG,Black Sea,5850,Sandy,28.564998,43.695538,28.574143,43.643309,NaN,...,1.0,NaN,2.0,NaN,NaN,NaN,7.0,3.0,NaN,NaN
2,krapetz,BG,Black Sea,5850,Sandy,28.564998,43.695538,28.574143,43.643309,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,2.0,NaN,2.0,1.0
3,krapetz,BG,Black Sea,5850,Sandy,28.564998,43.695538,28.574143,43.643309,NaN,...,5.0,NaN,2.0,NaN,NaN,NaN,5.0,26.0,NaN,NaN
4,San Mauro Cilento (SA),IT,Unknown,100,NaN,0.000135,0.000361,0.000135,0.000361,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN

In [8]:
mlw_data_df.drop(["lon_x1", "lat_y1","lon_x2","lat_y2"], axis=1, inplace=True )
mlw_data_df.head(20)

,BeachName,BeachCountrycode,BeachRegionalSea,BeachLength_m,BeachType,G1,G3,G4,G5,G7,...,G202,G203,G204,G205,G206,G207,G208,G210,G211,G213
0,krapetz,BG,Black Sea,5850,Sandy,NaN,NaN,1.0,NaN,8.0,...,2.0,4.0,NaN,3.0,NaN,NaN,3.0,NaN,1.0,NaN
1,krapetz,BG,Black Sea,5850,Sandy,NaN,12.0,1.0,NaN,10.0,...,1.0,NaN,2.0,NaN,NaN,NaN,7.0,3.0,NaN,NaN
2,krapetz,BG,Black Sea,5850,Sandy,NaN,27.0,7.0,NaN,3.0,...,NaN,NaN,5.0,NaN,NaN,NaN,2.0,NaN,2.0,1.0
3,krapetz,BG,Black Sea,5850,Sandy,NaN,15.0,60.0,NaN,18.0,...,5.0,NaN,2.0,NaN,NaN,NaN,5.0,26.0,NaN,NaN
4,San Mauro Cilento (SA),IT,Unknown,100,NaN,NaN,5.0,6.0,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN
5,"Spiaggia sul Lungomare Falcomat?, Reggio Calab...",IT,Mediterranean Sea,100,NaN,NaN,NaN,15.0,NaN,33.0,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
6,"7 Place Salvador Allende, 94000 Cr?teil, France",NaN,Unknown,750,NaN,NaN,25.0,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,0.0
7,z√ºrichsee_wollishofen_langendorfm,CH,NaN,50,Rocky,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
8,"Agia Galini, Crete (port)",GR,Mediterranean Sea,84,Rocky,NaN,9.0,NaN,NaN,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN
9,"Spiaggia della Bandita, Palermo (PA)",IT,Mediterranean Sea,100,NaN,NaN,30.0,NaN,NaN,NaN,...,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"12 Promenade Pierre D?port, 14150 Ouistreham, ...",FR,North-east Atlantic Ocean,72,NaN,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN
11,"Avenue Lieutenant colonel faro, 19000 Tulle, F...",Int,NaN,78,NaN,NaN,30.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Bolata,BG,Black Sea,166,Other (mixed),NaN,1.0,2.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,sorne_birse_WWFJura,CH,NaN,16,Pebbels,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN
14,sorne_birse_WWFJura,CH,NaN,16,Pebbels,NaN,1.0,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
15,sorne_birse_WWFJura,CH,NaN,16,Pebbels,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN
16,obzor detski lager,BG,Black Sea,2805,Sandy,NaN,19.0,7.0,NaN,13.0,...,1.0,NaN,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
17,Maltakva,GE,Black Sea,52,Sandy,NaN,11.0,NaN,NaN,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
18,Maltakva,GE,Black Sea,52,Sandy,NaN,20.0,NaN,NaN,35.0,...,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
19,Maltakva,GE,Black Sea,52,Sandy,NaN,48.0,NaN,NaN,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN

In [9]:
url="https://gist.githubusercontent.com/radcliff/f09c0f88344a7fcef373/raw/2753c482ad091c54b1822288ad2e4811c021d8ec/wikipedia-iso-country-codes.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))
c.head(3)

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,√Öland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL

In [10]:
# obtain country names from codes
c['CountryName'] = c[c.columns[0]]
c['CountryCode'] = c[c.columns[1]]
c = c[['CountryCode', 'CountryName']]
dictio = c.set_index('CountryCode').to_dict()['CountryName']
del dictio[np.nan]
mlw_data_df['BeachCountry']= mlw_data_df.BeachCountrycode.map(dictio)
mlw_data_df.drop('BeachCountrycode', axis=1, inplace=True)
mlw_data_df.head()

,BeachName,BeachRegionalSea,BeachLength_m,BeachType,G1,G3,G4,G5,G7,G8,...,G203,G204,G205,G206,G207,G208,G210,G211,G213,BeachCountry
0,krapetz,Black Sea,5850,Sandy,NaN,NaN,1.0,NaN,8.0,31.0,...,4.0,NaN,3.0,NaN,NaN,3.0,NaN,1.0,NaN,Bulgaria
1,krapetz,Black Sea,5850,Sandy,NaN,12.0,1.0,NaN,10.0,9.0,...,NaN,2.0,NaN,NaN,NaN,7.0,3.0,NaN,NaN,Bulgaria
2,krapetz,Black Sea,5850,Sandy,NaN,27.0,7.0,NaN,3.0,8.0,...,NaN,5.0,NaN,NaN,NaN,2.0,NaN,2.0,1.0,Bulgaria
3,krapetz,Black Sea,5850,Sandy,NaN,15.0,60.0,NaN,18.0,46.0,...,NaN,2.0,NaN,NaN,NaN,5.0,26.0,NaN,NaN,Bulgaria
4,San Mauro Cilento (SA),Unknown,100,NaN,NaN,5.0,6.0,NaN,13.0,19.0,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN,Italy

In [11]:
mlw_data_df.drop_duplicates(inplace=True, ignore_index=True)
mlw_data_df.head()

,BeachName,BeachRegionalSea,BeachLength_m,BeachType,G1,G3,G4,G5,G7,G8,...,G203,G204,G205,G206,G207,G208,G210,G211,G213,BeachCountry
0,krapetz,Black Sea,5850,Sandy,NaN,NaN,1.0,NaN,8.0,31.0,...,4.0,NaN,3.0,NaN,NaN,3.0,NaN,1.0,NaN,Bulgaria
1,krapetz,Black Sea,5850,Sandy,NaN,12.0,1.0,NaN,10.0,9.0,...,NaN,2.0,NaN,NaN,NaN,7.0,3.0,NaN,NaN,Bulgaria
2,krapetz,Black Sea,5850,Sandy,NaN,27.0,7.0,NaN,3.0,8.0,...,NaN,5.0,NaN,NaN,NaN,2.0,NaN,2.0,1.0,Bulgaria
3,krapetz,Black Sea,5850,Sandy,NaN,15.0,60.0,NaN,18.0,46.0,...,NaN,2.0,NaN,NaN,NaN,5.0,26.0,NaN,NaN,Bulgaria
4,San Mauro Cilento (SA),Unknown,100,NaN,NaN,5.0,6.0,NaN,13.0,19.0,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN,Italy

In [12]:
# shift column 'Name' to first position
first_column = mlw_data_df.pop("BeachCountry")
  
# insert column using insert(position,column_name,
# first_column) function
mlw_data_df.insert(0, "BeachCountry", first_column)

mlw_data_df.head()

,BeachCountry,BeachName,BeachRegionalSea,BeachLength_m,BeachType,G1,G3,G4,G5,G7,...,G202,G203,G204,G205,G206,G207,G208,G210,G211,G213
0,Bulgaria,krapetz,Black Sea,5850,Sandy,NaN,NaN,1.0,NaN,8.0,...,2.0,4.0,NaN,3.0,NaN,NaN,3.0,NaN,1.0,NaN
1,Bulgaria,krapetz,Black Sea,5850,Sandy,NaN,12.0,1.0,NaN,10.0,...,1.0,NaN,2.0,NaN,NaN,NaN,7.0,3.0,NaN,NaN
2,Bulgaria,krapetz,Black Sea,5850,Sandy,NaN,27.0,7.0,NaN,3.0,...,NaN,NaN,5.0,NaN,NaN,NaN,2.0,NaN,2.0,1.0
3,Bulgaria,krapetz,Black Sea,5850,Sandy,NaN,15.0,60.0,NaN,18.0,...,5.0,NaN,2.0,NaN,NaN,NaN,5.0,26.0,NaN,NaN
4,Italy,San Mauro Cilento (SA),Unknown,100,NaN,NaN,5.0,6.0,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN

In [13]:
non_g_cols = [col for col in mlw_data_df.columns if 'G' not in col] 
g_cols = list(set(mlw_data_df.columns)-set(non_g_cols))
[(col, mlw_data_df[col].dtype) for col in non_g_cols]
mlw_data_df[non_g_cols].head(10)

,BeachCountry,BeachName,BeachRegionalSea,BeachLength_m,BeachType
0,Bulgaria,krapetz,Black Sea,5850,Sandy
1,Bulgaria,krapetz,Black Sea,5850,Sandy
2,Bulgaria,krapetz,Black Sea,5850,Sandy
3,Bulgaria,krapetz,Black Sea,5850,Sandy
4,Italy,San Mauro Cilento (SA),Unknown,100,NaN
5,Italy,"Spiaggia sul Lungomare Falcomat?, Reggio Calab...",Mediterranean Sea,100,NaN
6,NaN,"7 Place Salvador Allende, 94000 Cr?teil, France",Unknown,750,NaN
7,Switzerland,z√ºrichsee_wollishofen_langendorfm,NaN,50,Rocky
8,Greece,"Agia Galini, Crete (port)",Mediterranean Sea,84,Rocky
9,Italy,"Spiaggia della Bandita, Palermo (PA)",Mediterranean Sea,100,NaN

In [14]:
mlw_data_df[g_cols].describe()

,G54,G204,G8,G7,G96,G155,G87,G167,G188,G91,...,G208,G213,G58,G34,G201,G101,G160,G15,G43,G163
count,200.00000,1129.000000,1847.000000,2301.000000,1131.000000,681.000000,898.000000,663.000000,643.000000,722.000000,...,1961.000000,1043.000000,120.000000,1591.000000,114.000000,743.000000,721.000000,95.000000,158.000000,40.000000
mean,21.03000,9.423384,16.454250,13.993916,5.670203,1.233480,1.839644,0.520362,0.225505,2.760388,...,32.209077,13.599233,11.441667,7.297297,3.008772,0.640646,0.421637,2.947368,5.867089,1.650000
std,156.09918,38.255853,101.909813,44.856234,47.377733,16.864943,6.733575,2.239266,1.215362,19.993742,...,98.464301,284.094221,48.666037,25.090909,4.908897,1.595585,1.465256,6.264334,16.473141,1.424151
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.00000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
50%,2.00000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,2.000000,1.000000
75%,4.00000,5.000000,11.000000,12.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,20.000000,0.000000,4.250000,5.000000,3.000000,1.000000,0.000000,2.000000,4.000000,2.000000
max,2116.00000,584.000000,3516.000000,1000.000000,1200.000000,437.000000,114.000000,26.000000,19.000000,427.000000,...,1142.000000,9000.000000,508.000000,544.000000,34.000000,15.000000,20.000000,44.000000,142.000000,7.000000

In [15]:
mlw_data_df.head()

,BeachCountry,BeachName,BeachRegionalSea,BeachLength_m,BeachType,G1,G3,G4,G5,G7,...,G202,G203,G204,G205,G206,G207,G208,G210,G211,G213
0,Bulgaria,krapetz,Black Sea,5850,Sandy,NaN,NaN,1.0,NaN,8.0,...,2.0,4.0,NaN,3.0,NaN,NaN,3.0,NaN,1.0,NaN
1,Bulgaria,krapetz,Black Sea,5850,Sandy,NaN,12.0,1.0,NaN,10.0,...,1.0,NaN,2.0,NaN,NaN,NaN,7.0,3.0,NaN,NaN
2,Bulgaria,krapetz,Black Sea,5850,Sandy,NaN,27.0,7.0,NaN,3.0,...,NaN,NaN,5.0,NaN,NaN,NaN,2.0,NaN,2.0,1.0
3,Bulgaria,krapetz,Black Sea,5850,Sandy,NaN,15.0,60.0,NaN,18.0,...,5.0,NaN,2.0,NaN,NaN,NaN,5.0,26.0,NaN,NaN
4,Italy,San Mauro Cilento (SA),Unknown,100,NaN,NaN,5.0,6.0,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN

In [16]:
mlw_data_df[g_cols].describe()

,G54,G204,G8,G7,G96,G155,G87,G167,G188,G91,...,G208,G213,G58,G34,G201,G101,G160,G15,G43,G163
count,200.00000,1129.000000,1847.000000,2301.000000,1131.000000,681.000000,898.000000,663.000000,643.000000,722.000000,...,1961.000000,1043.000000,120.000000,1591.000000,114.000000,743.000000,721.000000,95.000000,158.000000,40.000000
mean,21.03000,9.423384,16.454250,13.993916,5.670203,1.233480,1.839644,0.520362,0.225505,2.760388,...,32.209077,13.599233,11.441667,7.297297,3.008772,0.640646,0.421637,2.947368,5.867089,1.650000
std,156.09918,38.255853,101.909813,44.856234,47.377733,16.864943,6.733575,2.239266,1.215362,19.993742,...,98.464301,284.094221,48.666037,25.090909,4.908897,1.595585,1.465256,6.264334,16.473141,1.424151
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.00000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
50%,2.00000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,2.000000,1.000000
75%,4.00000,5.000000,11.000000,12.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,20.000000,0.000000,4.250000,5.000000,3.000000,1.000000,0.000000,2.000000,4.000000,2.000000
max,2116.00000,584.000000,3516.000000,1000.000000,1200.000000,437.000000,114.000000,26.000000,19.000000,427.000000,...,1142.000000,9000.000000,508.000000,544.000000,34.000000,15.000000,20.000000,44.000000,142.000000,7.000000

## MLW Meta- general codes with names

In [17]:
# 1. Create a DataFrame for mlw_meta 
mlw_meta_df = pd.read_csv("Resources/MLW_Meta.csv", encoding ="unicode_escape")
mlw_meta_df.head(20)

   generalcode category                                        generalname
0           G1  Plastic                    4/6-pack yokes, six-pack rings
1           G3  Plastic                        Shopping Bags  incl. pieces
2           G4  Plastic  Small plastic bags, e.g. freezer bags incl. pi...
3           G5  Plastic  Plastic bags collective role; what remains fro...
4           G7  Plastic                              Drink bottles  <=0.5l
5           G8  Plastic                               Drink bottles  >0.5l
6           G9  Plastic                       Cleaner bottles & containers
7          G10  Plastic         Food containers incl. fast food containers
8          G11  Plastic  Beach use related cosmetic bottles and contain...
9          G12  Plastic               Other cosmetics bottles & containers
10         G13  Plastic                 Other bottles & containers (drums)
11         G14  Plastic             Engine oil bottles & containers <50 cm
12         G15  Plastic            Engine oil bottles & containers > 50 cm
13         G16  Plastic  Jerry cans (square plastic containers with han...
14         G17  Plastic                           Injection gun containers
15         G18  Plastic                    Crates and containers / baskets
16         G19  Plastic                                          Car parts
17         G21  Plastic                           Plastic caps/lids drinks
18         G22  Plastic  Plastic caps/lids chemicals, detergents (non-f...
19         G23  Plastic                     Plastic caps/lids unidentified

In [18]:

print(f'metadata dataset has {mlw_meta_df.shape[0]} rows and {mlw_meta_df.shape[1]} columns.')

metadata dataset has 164 rows and 3 columns.

In [19]:
# 2. Check the datatypes of your columns. 
mlw_meta_df.dtypes

generalcode    object
category       object
generalname    object
dtype: object

In [20]:
#Get the columns and rows that are not null
mlw_meta_df.count()

generalcode    164
category       164
generalname    164
dtype: int64

In [21]:
#Determine if there any missing values
mlw_meta_df.isnull().sum()

generalcode    0
category       0
generalname    0
dtype: int64

In [22]:
# Calculate the total items in category
cat_name =mlw_meta_df["category"].unique()
cat_name

array(['Plastic', 'Rubber', 'Cloth/textile', 'Paper/Cardboard',
       'Processed/worked wood', 'Metal', 'Glass/ceramics', 'unidentified',
       'Chemicals'], dtype=object)

In [23]:
mlw_meta_df.head()

  generalcode category                                        generalname
0          G1  Plastic                    4/6-pack yokes, six-pack rings
1          G3  Plastic                        Shopping Bags  incl. pieces
2          G4  Plastic  Small plastic bags, e.g. freezer bags incl. pi...
3          G5  Plastic  Plastic bags collective role; what remains fro...
4          G7  Plastic                              Drink bottles  <=0.5l

In [24]:
#show only plastic in category for dataframe???
#mlw_meta_df=mlw_meta_df[mlw_meta_df["category"].str.contains("Plastic", na=False)]
#mlw_meta_df.head()

In [25]:
#Export mlw_meta as a new CSV file

mlw_meta_df.to_csv("Resources/MLW_meta_clean.csv", index=False)

In [26]:
# Export mlw_data as a new CSV file
mlw_data_df.to_csv("Resources/MLW_data_clean.csv", index=False)